html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

.dropdown {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.title {
  padding: 10px;
  cursor: pointer;
  background-color: grey;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center; /* Center text in the dropdown content */
}

.show {
  display: block;
}

button {
  margin: 5px;
}

.body {
  margin-top: 10px;
  color: #555;
}

.dropdown-content button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #218838;
}

.dropdown-content input {
  display: block; 
  margin: 10px auto; 
  width: 80%; 
}

.dropdown-content select {
  display: block;
  margin: 10px auto; 
  width: 80%;
}